$red: #db3d3c;
$gray-deep: #999;
$gray: #bfbfbf;
$gray-shallow: #e5e5e5;
$gray-shallow-more: #f2f2f2;

$icon-bg: #f9f3e8;

//字体变量
$font-color-gray: $gray-deep;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-big: 16px;

$border-color: $gray-shallow;
$bg-color: $gray-shallow-more;