/litemall-admin-api/litemall-admin-api.jar
/litemall-os-api/litemall-os-api.jar
/litemall-wx-api/litemall-wx-api.jar
/litemall-admin/dist.tar
/litemall-db/litemall_schema.sql
/litemall-db/litemall_table.sql
/litemall-db/litemall_data.sql
